{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% load static %}
<body data-gr-c-s-loaded="true">

  <main role="main dark>

    <div class="jumbotron text-center">
      <div class="container text-center dark">
        <h1>Hi Welcome to Dykast Photography</h1>
        <p class="lead text-muted">Hey, my name is Jonas and I love taking people's photos. Below you will find a collection of my past work. All individuals displayed on this site consented to use of their photos. </p>
          <a href="mailto:dykastphotography@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
        <img class="fluid-image" src="{% static "Jonas_Portfolio.png" %}" height="500" />
      </div>
    </div>

    <div class="album py-5 bg-dark">
      <div class="container">

        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="{{ job.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

  </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
