{% extends 'layouts/base.html' %}

{% block title %} Contact Us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card card-plain">

      <div class="card-header">Contact Us</div> <! Contact Us title ->
      <form>
        <div class="form-group col-md-20">
          <label for="inputDescription1">Please tell us what type of event you are wanting captured?</label>
          <input type="text"class="form-control" id="inputDescription1" rows="3">
        </div>
        <div class="form-group col-md-20">
          <label for="inputDescription1">What first attracted you to my work & what would you like to see in your own photographs?</label>
          <input type="text"class="form-control" id="inputDescription1" rows="3">
        </div>
      </form>
      <div class="card-text-input"> <! Phone listed + email me button ->
        <h5 class="card-title">Phone</h5>
        <p class="card-text">### ### ####</p>
        <h5> <a href="mailto:dykastphotography@gmail.com" class="btn btn-primary my-2">Email Me</a> </h5>
      </div>

      <form><!Contact form input container ->
        <div class="form-row"><! Name & Email input ->
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
        </div>
        <div class="form-group"><! Address 1 input ->
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group"><! Address 2 input ->
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row"><! City input ->
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4"><! Province input ->
            <label for="input">Province</label>
            <select id="inputProvince" class="form-control">
              <option selected>Choose...</option>
              <option>Alberta</option>
              <option>British Columbia</option>
              <option>Manitoba</option>
              <option>New Brunswick</option>
              <option>New Foundland and Labrador</option>
              <option>Northwest Territories</option>
              <option>Nova Scotia</option>
              <option>Nunavut</option>
              <option>Ontario</option>
              <option>Prince Edward Island</option>
              <option>Quebec</option>
              <option>Saskatchewan</option>
              <option>Yukon</option>
            </select>
          </div>
          <div class="form-group col-md-2"><! Postal Code input ->
            <label for="inputPostalCode">A1A 1A1</label>
            <input type="text" class="form-control" id="inputPostalCode" placeholder="A1A 1A1">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
