{% extends 'layouts/base.html' %}

{% block title %} Our Services {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> List of Types of Services </h4>
      </div>
      <div class="card-body">
        <ul>
          <li><a href="/ui-services-weddings.html">Wedding Packages</li>
          <li><a href="/ui-services-event.html">Event Packages</li>
          <li><a href="/ui-services-portrait.html">Portrait Packages</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
