{% extends "layouts/base.html" %}

{% block title %} Blog Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% load static %}
<body data-gr-c-s-loaded="true">

  <main role="main">
    <div class="container">

    <div class="row mb-2">

      <div class="col-md-6"><!-- /.Past-Events-&-Clientele -->
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-1 text-primary">Past Events</strong>
            <h3 class="mb-0">Past Events & Clientele</h3>
            <div class="mb-0 text-muted">Events:</div>
            <p class="card-text mb-0">
              <ul> <li>Orientation Week 2019/20 @Trent University</li> </ul></p>
            <div class="mb-0 text-muted">Clientele:</div>
              <ul><li>Trent African Caribbean Students' Union</li>
              <li>Trent Orientations'</li></ul>
              <br />
          </div>
        </div>
      </div>

      <div class="col-md-6"><!-- /.Client-Review -->
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Client Review</strong>
            <h3 class="mb-0">Rhonda Smith, J.D., LL.M.</h3>
            <div class="mb-1 text-muted">Nov 17, 2019</div>
            <p class="mb-auto">"Jonas demonstrated professionalism,tact, perseverance and great skill in how he manoeuvred between the four rooms, made everyone feel comfortable being photographed, and showed great consideration and patience in employing his craft."</p>
          </div>
        </div>
      </div>

    </div>

    <div class="album py-3">
      <div class="container-sm">

        <div class="row">
          {% for blog in blogs.all %}
          <div class="container">
            <a href="{% url 'detail' blog.id %}"><h3> {{ blog.name }} </h3></a>
            <p class="text">{{ blog.tagline }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

  </div>

  </main>
</body>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

    <script>
      $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

      });
    </script>

  {% endblock javascripts %}
