{% extends "layouts/base.html" %}

{% block title %} Blog Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% load static %}
<body data-gr-c-s-loaded="true">

  <main role="main">
    <div class="container-sm">

        <h4 class="text"> {{ blog.title }}</h4>
        <p class="text" style="font-size:85%">{{ blog.pub_date_clean }}</p>
        <br />
        <img class="img-fluid" style="max-width: 18rem" src="{{ blog.image.url }}"/>
          <div class="text">
          <p>{{ blog.body }}</p>
        </div>
        </div>
    </div>
  </main>
</body>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

    <script>
      $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

      });
    </script>

  {% endblock javascripts %}
