{% extends "layouts/base.html" %}

{% block title %} Blog Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
{% load static %}
<body data-gr-c-s-loaded="true">

  <main role="main">

    <div class="album py-1">
      <div class="container-sm">

        <div class="row">
          {% for entry in entry.all %}
          <div class="container">
            <a href="{% url 'detailentry' entry.id %}"><h4> {{ entry.headline }} </h4></a>
            <p class="text" style="font-size:85%">{{ entry.pub_date }} by <a href="{% url 'Aboutpage' %}">{{ entry.authors }}</a></p>
            <br />
            <img class="card-img-top" style="max-width: 25rem" src="{{ entry.image.url }}" />
            <div class="text py-2">
              <p>{{ entry.body_text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>

  </main>
</body>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

    <script>
      $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

      });
    </script>

  {% endblock javascripts %}
